img {
    margin-left: 580px;
}

#a {
    background-color: #EEEEEE;
    text-align: center;
}

#b {
    background-color: #EEEEEE;
    text-align: center;
}

.c {
    float: left;
}

#d {
    background-color: #EEEEEE;
    margin-left: 600px;
    margin-top: 5px;
}

#z {
    background-color: #EEEEEE;
    margin-left: 60px;
    margin-top: 5px;
}

.aa {
    display: inline;
}

.ab {
    display: inline;
}

.ac {
    display: inline;
}

#e {
    margin-left: 300px;
    background-color: #7EE5DA;
}

#f {
    background-color: #7EE5DA;
    margin-left: 300px;
}

#g {
    background-color: #7EE5DA;
    margin-left: 300px;
}

#k {
    background-color: #62B3AA;
    float: right;
    margin-right: 500px;
}

#l {
    background-color: #62B3AA;
    float: right;
    margin-left: 10px;
}

#y {
    background-color: #62B3AA;
    float: left;
    margin-left: 900px;

}

#j {
    background-color: #7EE5DA;
    margin-left: 692px;
}

#h {
    background-color: #7EE5DA;
    margin-left: 300px;
}

#ı {
    background-color: #7EE5DA;
    margin-left: 290px;
}

#i {
    background-color: #7EE5DA;
    margin-left: 306px;
}